#root {
  font-family: 'DM Serif Display', serif;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("./images/Fondo.jpeg");
  background-size: 100% auto;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.row {
  
  margin: 2em;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.read-the-docs {
  color: #888;
}

.logoMegatec{
  box-shadow: 0px 0px 10px rgb(1,4, 4)
}
.banner{
  background-image: url('./images/logoIntel.jpg');
}
.row-product{
  display: flex;
  flex-direction: row;
  font-size: 25px;
}
.product{
  background-color: #F4F6F7;
  margin: 5px;
  width:500px
}

